*,
*::after *::before {
	box-sizing: border-box;
}

body {
	background: #e5e5e5;
	margin: 0px;
}

.header-section {
	width: 100vw;
	height: 100vh;
	margin-top: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}

.header-wrapper {
	background-color: #e91c22;
	height: 56px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 16px 0px 40px;
}

.header .right {
	padding: 0px 40px;
}
.header .right ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right ul li img {
	height: 20px;
	width: 20px;
	margin-top: 2px;
}
.right ul li {
	list-style: none;
	padding: 3px;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #ffffff;
}

.user-image {
	background-color: white;
	height: 32px;
	width: 32px;
	color: #fd9459;
	margin-left: 8px;
	border-radius: 16px;
	position: relative;
}

.user-image h4 {
	position: absolute;
	transform: translate(30%, -80%);
}

.main {
	height: 77px;
	width: 100vw;
	margin-top: 57px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.main .customer-title {
	padding-left: 164px;
}

.customer-title ul {
	display: flex;
	gap: 12px;
	width: 46px;
	height: 21px;
	list-style: none;
	align-items: center;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #6b6c7e;
	padding-top: 30px;
}

.customer-title ul li:last-child {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 150%;

	color: #393a4a;
}

.wrapper {
	padding-left: 156px;
	padding-right: 156px;
	margin-top: 40px;
}

.card-sections {
	display: flex;
	padding-top: px;
	justify-content: center;

}

.card-sections .right {
	padding: 50px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.right h3 {
	padding: 15px;
}

.card-sections .left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  padding-left: 20px; 
}

.left-frame {
	background: #ffffff;
	box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
		0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
	border-radius: 4px;
}

.upper-section {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
}

.upper-section .location {
	display: flex;
	
}
.upper-section .location img {
	/* height: 20px;
	width: 20px; */
	height: 15px;
	
}

.inner-wrapper h2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #201f1e;
}




.card-sections h2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #201f1e;
 
}

.card-sections h3 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin: 0px;
	color: #605e5c;
}

.card-sections h4 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	margin-top: 0px;
	
	color: #323130;
}
.last{
	font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #605E5C;
padding: 5px;

}

.basic h3{

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 16px;
color: #605E5C;
margin-bottom: 10px;
padding-top: 5px;
}

  .customer-title a{
	text-decoration: none;
}